:root {
	--txt: #4a392a;
	--bkg: #fff9f3;
	--acc: #1c73af;
	--serif: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
	--sans: system-ui, sans-serif;
}

body {
	background-color: var(--bkg);
	color: var(--txt);
	font-family: var(--serif);
	font-size: 14pt;
}

a {
	text-decoration: none;
	color: var(--acc);
}


/** HEADER ************************************************************/
#top {
	margin: 0 auto;
	padding: 30px 0px 0px 0px;
	max-width: 900px;
}
h1 {
	font-family: var(--serif);
	font-weight: normal;
	margin-bottom: 0;
	line-height: 1;
}
h1 a {
	color: var(--txt);
}

/** NAVIGATION ********************************************************/
nav ul {
	padding: 0;
	font-family: var(--serif);
	font-size: 12pt;
}
nav li {
	list-style: none;
	display: inline;
	text-transform: uppercase;
	padding-right: 1em;
	letter-spacing: 0.1em;
}

/** MAIN CONTENT ******************************************************/
#main {
	margin: 50px auto;
	max-width: 900px;
	line-height: 1.7;
}

h2, h3, h4, h5, h6 {
	font-family: var(--serif);
	font-weight: normal;
	line-height: 1;
	font-size: 20pt;
}
.ficlist h3 {
	margin-top: 0;
}


#main hr {
	width: calc(100% + 40px);
	margin-left: -30px;
	border: var(--txt);
}

// fic listing page
.fic h3 {
	margin-top: 0;
}

.ficmeta {
	font-family: var(--sans);
	font-size: 60%;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.ficdesc {
	margin-top: 0;
}

.fic ol .ficdesc {
	font-size: 90%;
}

ul.fictags {
	padding-left: 0;
	list-style: none;
}
ul.fictags li {
	display: inline;
	padding-right: 1em;
}

small {
	font-family: var(--sans);
	padding-left: 1em;
	font-size: 9pt;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.fictitle {
	font-size: 200%;
	text-align: center;
}
.chaptertitle {
	font-size: 170%;
	text-align: center;
	margin-bottom: 1em;
}

.fictext header p, .fictext footer p {
	font-size: 80%;
	text-indent: 0;
	margin: 0.5em auto;
}
.fictext header .ao3link {
	font-size: 60%;
	text-align: right;
}

.authorsnotes {
}
.authorsnotes .note {
	display: block;
	margin-top: 2em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 80%;
}

footer blockquote p {
	font-style: italic;
}

.fictext .ficmeta time {
	float: none;
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
}

.fictext .ficmeta {
	max-width: 900px;
	margin: 0 auto;
}

.fictext p {
	text-indent: 1em;
	margin: 0.1em auto;
	line-height: 1.4;
	max-width: 900px;
	hyphens: auto;
}
.fictext hr {
	margin-top: 80px;
	margin-bottom: 80px;
}

.fictext footer {
	margin: 0;
	margin-bottom: 30px;
}

.fictext img {
	border-radius: 6px;
	max-width: 100%;
	height: auto;
}
p.image {
	text-indent: 0;
	max-width: 800px;
}

.button {
	background: var(--bkg);
	font-family: var(--sans);
	padding: 10px 20px;
	border-radius: 6px;
	width: fit-content;
	text-align: center;
	color: var(--txt);
}

/** FOOTER ************************************************************/
.pagefooter {
	color: var(--txt);
	font-family: var(--sans);
	font-size: 50%;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
}

.pagefooter a {
	color: var(--txt);
}